<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="by" />
    <context:component-scan base-package="by.itibo.service"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.sqlite.JDBC" />
        <property name="url" value="jdbc:sqlite:../webapps/blogs.db" />
        <!--Если хочешь что бы работали тесты, то нужно заменить урл базы на-->
        <!--jdbc:sqlite:blogs.db"-->
    </bean>

    <bean id="userService" class="by.itibo.service.UserService" />

    <bean id="blogService" class="by.itibo.service.BlogService" />

    <bean id="commentService" class="by.itibo.service.CommentService" />

    <bean id="userJDBCTemplate"
          class="by.itibo.template.UserJDBCTemplate">
        <property name="dataSource"  ref="dataSource" />
    </bean>

    <bean id="blogJDBCTemplate"
          class="by.itibo.template.BlogJDBCTemplate">
        <property name="dataSource"  ref="dataSource" />
    </bean>

    <bean id="commentJDBCTemplate"
          class="by.itibo.template.CommentJDBCTemplate">
        <property name="dataSource"  ref="dataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>